body {
	height:1500px;
	background-color: #f9f9f9;
	font-family: 'Gugi', cursive;
  width:100%;
  overflow-x: hidden;
}

hr {
	display:block;
	position:relative;
	top:755px;
	width:900px;
	left:190px;
	border-bottom: 5px #ccc;
}

.description{
	position:absolute;
	top:10px;
  left:25px;
	width:330px;
}

#map { 
  position:absolute; 
  left:380px;
  top:790px;
  width: 73%;
  height: 70%;
   }

svg {
  position: absolute;
  margin:auto;
  top:30px;
  left:380px;
  width: 73%;
  height: 87%;
   }

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: blue;
  stroke-width: 1.5px;
}

.node text {
  font: 14px sans-serif;
}

.link {
  fill: none;
  stroke: #5F89FD;
  stroke-width: 1.5px;
}