body {
	height:100%;
	background-color: #f9f9f9;
	font-family: 'Gugi', cursive;
  width:100%;
  overflow-x: hidden;
  margin:0;top:0;right:0;bottom:0;left:0;
}

.description{
	position:absolute;
	top:10px;
  left:25px;
	width:330px;
}

#map { 
  position:absolute;
  left:380px;
  top:700px;
  width: 73%;
  height: 80%;
   }

svg {
  position: absolute;
  top:30px;
  left:380px;
  width: 73%;
  height: 80%;
   }

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: blue;
  stroke-width: 1.5px;
}

.node text {
  font: 17px sans-serif;
}

.link {
  fill: none;
  stroke: #5F89FD;
  stroke-width: 1.5px;
}